<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<embed src="http://yuntv.letv.com/bcloud.swf" allowFullScreen="true" quality="high"  width="640" height="360" align="middle" allowScriptAccess="always" flashvars="uu=3c12276fcc&vu=6430232c51&auto_play=0&gpcflag=1&width=640&height=360" type="application/x-shockwave-flash"></embed>
<embed src="http://yuntv.letv.com/bcloud.swf" allowFullScreen="true" quality="high"  width="640" height="360" align="middle" allowScriptAccess="always" flashvars="uu=3c12276fcc&vu=9d6c66e7e2&auto_play=0&gpcflag=1&width=640&height=360" type="application/x-shockwave-flash"></embed>
</body>
</html>