<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="http://i10.m.vancl.com/content/html5/images/apple-touch-icon.ico"/>
    <title></title>
    <script src="__STATIC_URL__/public/js/jquery.js"></script>
    <script src="__STATIC_URL__/public/js/jquery.easing.min.js"></script>
    <script src="__STATIC_URL__/public/js/jquery.fullPage.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/public/css/jquery.fullPage.css" />
</head>
<body>
{__CONTENT__}
</body>
</html>