<div class="footer">
    <div class="footer_content">
        <p class="partners"><span id="title_item">合作伙伴</span><a href="#">科技部</a><a href="#">教育部</a><a href="#">西安交通大学</a></p>
        <p class="friendLink"><span id="title_item">友情链接</span><a href="#">科技部</a><a href="#">教育部</a><a href="#">西安交通大学</a></p>
        <p class="contact">
            <span id="title_item">联系方式</span><span class="email">邮箱：<a href="#">qn@gy.com</a></span>
            <span class="weibo">微博：@中青公益&nbsp;&nbsp;<a href="#"><img src="images/weibo.png"/></a><a href="#"><img src="images/weitu.png"/></a></span>
            <span class="address">地址:北京市东城区东直门海运仓2号中青记者之家414室</span>&nbsp;&nbsp;
            <span class="phone">电话:64060200</span>
        </p>
        <p class="copyRight">
            CopyRight©2012 - 2013&nbsp;&nbsp;<span class="zq_address"><a href="#">gy.com</a></span> All Right Reserved&nbsp;&nbsp;&nbsp;&nbsp;
            主管单位：中国青年报社&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主办单位：中青华云&nbsp;&nbsp;&nbsp;&nbsp;京ICP备<span class="bei_num">1303419</span>
        <p>
    </div>
</div>