{__NOLAYOUT__}	
<script type="text/javascript" src="{:STATIC_SERVER_URL}/usercenter/group/js/ajaxpage.js"></script>  
<!-- 右边主体内容[ -->
<div class="myhome_cmain_right">
	<notempty name="donate">	
		<foreach name="donate" item="vo">
		<div class="wraper_about_pjt">
			<figure><figcaption>发起人</figcaption><a href="{:userUrl($vo['creator'])}" target="_blank"><img src="{$vo['userPhoto']}" title="{$vo['nickname']}"></a></figure>
			<div class="about_pjt_right">
				<div class="this_pjt_details">
					<p class="this_pjt_title"><a href="{:YI_JUAN}/raisegoods/view/id/{$vo['id']}.html" target="_blank" title="{$vo['name']}">{$vo['name']}</a></p>
					<p class="this_pjt_time">{$vo['create_date']}</p>
				<if condition="$vo['creator'] eq $vo['userId']">
					<if condition="$vo['status'] eq 100">
						<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps7.png" class="pjt_state">
						 <p class="all_btn"><a href="{:YI_JUAN}/raisegoods/joinlist/id/{$vo['id']}.html" class="bm_manager" target="_blank">查看认捐方名单</a></p>
					<elseif condition="$vo['status'] eq 888"/>
						<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps9.png" class="pjt_state">
						<p class="all_btn"><a href="{:YI_JUAN}/raisegoods/joinlist/id/{$vo['id']}.html" class="bm_manager" target="_blank">查看认捐方名单</a></p>
					<elseif condition="$vo['status'] eq 889"/>
						<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps8.png" class="pjt_state">	
						<p class="all_btn"><a href="{:YI_JUAN}/raisegoods/joinlist/id/{$vo['id']}.html" class="bm_manager" target="_blank">查看认捐方名单</a></p>
					<elseif condition="$vo['status'] eq 403"/>
						<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps1.png" class="pjt_state">	
						<p class="all_btn"><a href="<eq name='vo.utype' value='21'>{:JIA_SERVER_URL}/Project/createHelp/proid/{$vo['id']}.html<else />{:YI_JUAN}/raisegoods/create/id/{$vo['id']}.html</eq>" class="bm_manager" target="_blank">修改求助信息</a></p>
					<elseif condition="$vo['status'] eq 404"/>
						<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps13.png" class="pjt_state">	
						<p class="all_btn"><a href="<eq name='vo.utype' value='21'>{:JIA_SERVER_URL}/Project/createHelp/proid/{$vo['id']}.html<else />{:YI_JUAN}/raisegoods/create/id/{$vo['id']}.html</eq>" class="bm_manager" target="_blank">修改求助信息</a></p>
					<elseif condition="$vo['status'] eq -1"/>
						<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps15.png" class="pjt_state">	
						<p class="all_btn"><a href="<eq name='vo.utype' value='21'>{:JIA_SERVER_URL}/Project/createHelp/proid/{$vo['id']}.html<else />{:YI_JUAN}/raisegoods/create/id/{$vo['id']}.html</eq>" class="bm_manager" target="_blank">修改求助信息</a></p>			
					</if>
				<else />
					<if condition="$vo['status'] eq 100">
						<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps7.png" class="pjt_state">
					<elseif condition="$vo['status'] eq 888"/>
						<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps9.png" class="pjt_state">
					<elseif condition="$vo['status'] eq 889"/>
						<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps8.png" class="pjt_state">	
					</if>		
				</if>	
				</div>
			</div>
		</div>
		</foreach>
	<div class="wraper_paging">{$page}</div>
	<else />
		<h3 class="project_title">相关求助<i></i></h3>
		<div class="prompt_states">暂无数据！</div>
	</notempty>
</div><!-- 右边主体内容[ -->