<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="{:STATIC_SERVER_URL}/usercenter/tp/css/tiaokuan.css">
</head>
<body>
	<div class="tk_header"><div class="tk_hdr_cont"><a href="{:SERVER_VISIT_URL}"></a>注册服务协议</div></div>
	<div class="tk_main">
	<h3>中青公益——组织用户注册服务协议（暂行）</h3>
		<p>
			您好，欢迎成为中青公益注册志愿组织！注册组织可享有中青公益及其旗下四个子平台：中青公益（项目平台）、志愿者注册管理支撑（筹）、志愿者互联社区（筹）、志愿者回报平台（筹）上的更多功能与内容，为您的志愿服务管理及志愿者注册培训增添更多便利，充分贯彻志愿服务精神：奉献、友爱、互助、进步。在注册成为本站注册志愿组织之前，请先仔细阅读如下服务协议，在您点击确认按钮后，将视为已阅读并完全同意下所有条款。
		</p>
		<dl>
			<dt>一、注册须知</dt>
			<dt>1.1 志愿组织基本条件</dt>
			<dd>有正规机构注册资质、拥有固定办公或事务场所。</dd>
			<dd>拥有固定志愿者30人以上。</dd>
			<dd>热心社会公益事业的非营利性志愿组织与社会团体。</dd>
			<dd>遵守宪法及相关法律法规，拥护党的领导和国家政策。</dd>
			<dd>机构具备一定的自我定位及服务方向、专业特长。</dd>
			<dd>可独立展开并长期运作有正面意义、代表价值并能发挥团队特长的志愿服务项目。</dd>
			<dd>确保所有发布项目真实有效，认真对待项目过程，尊重志愿者服务。</dd>
		</dl>
		<dl>
			<dt>1.2志愿组织账号注册</dt>
			<dd>请仔细阅读本服务协议条款，并按页面提示完善信息、完成全部注册程序。当您点击“同意”按钮即表示与本站达成协议，完全接受本服务协议下的全部条款。</dd>
			<dd>组织管理者有义务提供及时、详尽及真实准确的组织资料，并在需要时进行更新。如有因注册信息不实而引起的问题及产生的后果，本站将不负任何责任。</dd>
			<dd>注册成功后，在网站的组织页面中心及发布项目所有者位置中将显示您的组织名称。</dd>
			<dd>组织管理者负责保管自己的账号及密码，并对以其用户账号进行的所有活动和事件负全部法律责任。如果您未保管好自己的账号和密码而对您、本站、任何第三方造成的损害，您将负全部责任。</dd>
		</dl>
		<p>我们将保护所有注册公益组织的隐私信息，不会作为商业用途，组织管理者也应当随时关注自己的隐私状况及安全情况，您的账号发生异常时请第一时间通知我们。</p>
		<dl>
			<dt>二、组织权利</dt>
			<dt>2.1 发布、管理项目</dt>
			<dd>在本站发布公益项目，您须同意并遵守以下协议条款：</dd>
			<dd>• 项目说明支持富文本格式，编辑前请准备好所需材料。</dd>
			<dd>• 须确保发布项目内容及时、真实与可信，并作必要跟进及反馈。</dd>
			<dd>• 项目发布不得违反国家相关法律法规规定。</dd>
			<dd>• 本站保留随时以任何理由取消项目的权利。</dd>
			<dd>• 本站有权随时以任何理由拒绝、取消、中断或删除项目，并不因该行为承担任何赔偿。</dd>
		</dl>
		<dl>
			<dt>2.2 招募志愿者</dt>
			<dd>您可对有需要的志愿服务项目在本站发起一个志愿者招募行为，其中您须遵守：</dd>
			<dd>• 发布的所有项目不得违反国家相关法律法规</dd>
			<dd>• 确保项目的真实可靠，如有变更及时与我们及应募志愿者取得联系。</dd>
			<dd>• 追踪、反馈项目进程与成果并在项目流程里进行定期公示。</dd>
			<dd>•  保障服务志愿者人身安全，尊重志愿者人格独立，不得利用志愿者进行志愿服务以外的营利项目、其他活动。</dd>
		</dl>
		<dl>
			<dt>三、组织义务</dt>
			<dd>3.1 遵守中华人民共和国法律法规及相关规定。</dd>
			<dd>3.2 确保组织资料及联系人身份资料的真实可信。</dd>
			<dd>3.3 对发布项目内容进行核实及跟进，确保信息及时准确，不对阅读者及其他用户造成误导。</dd>
			<dd>3.4 不采取项目刷票、虚假信息发布等不正当竞争手段。</dd>
			<dd>3.5不得利用认证志愿组织身份从事与志愿者服务目的、宗旨不符的行为。</dd>
		</dl>
		<dl>
			<dt>四、免责声明</dt>
			<dd>4.1 根据相关法律法规，任何经由本站发布、上传的文字、资讯、资料、音乐、照片、图形视讯、信息或其它资料（以下简称“内容 ”），无论系公开还是私下传送，均由内容提供者承担责任。</dd>
			<dd>4.2 在任何情况下，本站均不为任何内容负责，但本站有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停用户使用本服务的全部或部分，保存有关记录并向有关机关报告。</dd>
			<dd>4.3在用户将内容发布到本站服务中后，用户将继续对内容享有权利，并且有权选择恰当的方式使用该等内容。如果用户在本站服务中或通过本站服务展示或发表任何内容，即表明该用户就此授予本站一个有限的许可以使本站能够合法使用、修改、复制、传播和出版此类内容。</dd>
			<dd>4.4本站作为连接平台，无义务介入任何用户或第三方就服务内容产生的纠纷，包括但不限于人员的招募、财物捐献与交付、其他条款、条件、保证或与网站活动相关联的有关陈述。并且不负责监督项目的实行过程。</dd>
		</dl>
		<p>如果您发现任何违反本服务协议及其他任何服务条款、公告等情事，请告知本站。您可以通过如下方式与我们取得联系：</p>
		<p>电话：010 64060200</p>
		<p>地址：北京市东城区海运仓2号中青华云 </p>
	</div>
	<div class="tk_footer">Copyright © 2012 - 2016 </div>
</body>
</html>