{__NOLAYOUT__}
<script type="text/javascript" src="{:STATIC_SERVER_URL}/usercenter/group/js/ajaxpage.js"></script>  
<!-- 右边主体内容[ -->
<div class="myhome_cmain_right">
	<notempty name="act">
		<foreach name="act" item="vo">
		<div class="wraper_about_pjt">
			<figure><figcaption>发起人</figcaption><a href="{:userUrl($vo['uid'])}" target="_blank"><img src="{$vo['userPhoto']}" title="{$vo['nickname']}"></a></figure>
			<div class="about_pjt_right">
				<a href="{:YI_JUAN}/active/view/id/{$vo['id']}.html" target="_blank"><img src="{$vo['image']}" class="this_pjt_photo" title="{$vo['name']}"></a>
				<div class="this_pjt_details">
					<p class="this_pjt_title"><a href="{:YI_JUAN}/active/view/id/{$vo['id']}.html" target="_blank" title="{$vo['name']}">{$vo['name']}</a></p>
					<p class="this_pjt_time">{$vo['create_date']}</p>
					<if condition="$vo['uid'] neq $vo['userId']">
						<if condition="$vo['status'] eq 2">
							<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps3.png" class="pjt_state">
						<elseif condition="$vo['status'] eq 3"/>
							<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps2.png" class="pjt_state">
						<elseif condition="$vo['status'] eq 4" />
							<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps5.png" class="pjt_state">
						</if>
					<else />
						<if condition="$vo['status'] eq 2">
							<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps3.png" class="pjt_state">
							<p class="all_btn"><a href="{:YI_JUAN}/active/joinuserlist/id/{$vo['id']}.html" class="bm_manager" target="_blank">查看报名名单</a></p>
						<elseif condition="$vo['status'] eq 3"/>
							<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps2.png" class="pjt_state">
							<p class="all_btn"><a href="{:YI_JUAN}/active/joinuserlist/id/{$vo['id']}.html" class="bm_manager" target="_blank">查看报名名单</a></p>
						<elseif condition="$vo['status'] eq 4" />
							<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps5.png" class="pjt_state">
							<p class="all_btn"><a href="{:YI_JUAN}/active/joinuserlist/id/{$vo['id']}.html" class="bm_manager" target="_blank">查看报名名单</a></p>
						<elseif condition="$vo['status'] eq 0" />
							<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps1.png" class="pjt_state">	
							<p class="all_btn"><a href="<eq name='vo.type' value='21'>{:JIA_SERVER_URL}/Active/createActivity/actid/{$vo['id']}.html<else />{:YI_JUAN}/active/create/id/{$vo['id']}.html</eq>" class="bm_manager" target="_blank">修改活动信息</a></p>
						<elseif condition="$vo['status'] eq -1" />
							<img src="{:STATIC_SERVER_URL}/usercenter/tp/images/ps15.png" class="pjt_state">
							<p class="all_btn"><a href="<eq name='vo.type' value='21'>{:JIA_SERVER_URL}/Active/createActivity/actid/{$vo['id']}.html<else />{:YI_JUAN}/active/create/id/{$vo['id']}.html</eq>" class="bm_manager" target="_blank">修改活动信息</a></p>		
						</if>
					</if>		
				</div>
			</div>
		</div>
		</foreach>
	<div class="wraper_paging">{$page}</div>
	<else />
		<h3 class="project_title">相关活动<i></i></h3>
		<div class="prompt_states">暂无数据！</div>
	</notempty>
</div><!-- 右边主体内容[ -->