<div class="interaction_module">
<p class="tab_cont1_btns">
    <span class="btns_yijj">已拒绝</span>
    <notempty name="suppliesReason"><span class="system_msg jjliyou"><i class="sys_msg_arrow"></i>拒绝理由: {$suppliesReason|str_ellipsis_new=###,10}</span></notempty>
    <span class="btns_jwuzi" data-id="{$id}" data-title="<eq name='concurtype' value='1'>捐物资<else />申请物资</eq>">
        重新<eq name='concurtype' value='1'>捐物<else />申请</eq>
    </span>
	<img class='loader' style="display:none;" src="{:STATIC_SERVER_URL}/yijuan/product/images/loader.gif">
</p>
</div>
<!--友好提示弹出层[-->
<div class="promptHtml ptHtml1">
    <p class="promptHtmlText">确定要撤销当前的<eq name='concurtype' value='1'>捐物资<else />申请物资</eq>请求吗？</p>
</div><!--]友好提示弹出-->
<script type="text/javascript" src="{:STATIC_SERVER_URL}/concur/js/supother.js"></script>
<script>   
	/**
     *  定义提交的url地址
     *  @param number subtype 1-表示捐物资  2-表示修改物资
     */
    var sup_ajax_url = "{:SERVER_VISIT_URL}/T/Supplies/suppliesAjaxPage/subtype/2.html";
    
    /**
     * 修改html
     */
    function updateHtml(alSuppliesShow){
        var html =  '<p class="wzjz_tijiao1" style="display:block;">物资<eq name="concurtype" value="1">捐物<else />申请</eq>请求已提交，等<eq name="concurtype" value="1">求助<else />捐助</eq>人确认';
            html += '<span class="a_cxjz" > <eq name="concurtype" value="1">撤销捐助<else />撤销申请</eq></span><span  class="a_xgwzx" data-id="{$id}" data-title="修改物资项" >修改物资项</span>';
            html += '</p>';
            html += '<p class="sqjz_list1" style="display:block;">您申请捐助：'+alSuppliesShow+'</p>';
        $('.interaction_module').html(html);
        sup_ajax_url = "{:SERVER_VISIT_URL}/T/Supplies/suppliesAjaxPage/subtype/2.html";
    }  

    $(function(){
        //捐物资或申请物资
        $(".btns_jwuzi, .a_xgwzx").live('click', function () {
            var islogin = '{$islogin}';
            if(islogin == 1){
                var type = '{$concurtype}';
                var _this = $(this);
                var url = sup_ajax_url;
                var title = _this.attr('data-title');
                applyAjaxPage(_this,url,title,type);
            }else{
                showbox();
            }
        });
        
        /*弹出层(撤销捐助)*/
        $(".a_cxjz").popWindow({
            width: "400",
            height: "170",
            content: $(".ptHtml1").html(),
            id: "box_cxjz",
            callback: function (a, box) {
            },
            button: {			
                cancel: function () {
                },
                ok: function (t, box) {
                   
                    var id = "{$id}";
                    $.ajax({
                        type: "POST",
                        url: "{:SERVER_VISIT_URL}/T/Supplies/cancelSupplies",
                        data: 'id=' + id,
                        success: function (msg) {
                            if(msg.status==-1){
                                alert(msg.content);
                            }else{
                                box.hide();
                                $("#mask1").hide();
                                var html = '<p class="tab_cont1_btns">';
                                    html += '<span class="btns_jwuzi" data-id="{$id}" data-title="<eq name="concurtype" value="1">捐物资<else />申请物资</eq>">';
                                    html += '<eq name="concurtype" value="1">捐物资<else />申请物资</eq>';
                                    html += '</span>'
                                    html += '</p>';
                                $(".interaction_module").html(html);
                                sup_ajax_url = "{:SERVER_VISIT_URL}/T/Supplies/suppliesAjaxPage/subtype/1.html";                            
                            }
    
                        }
                    });
                }
            }
        }); 
  
 
    })
   
    
</script>