<div class="span3" id="accordion2" style="background-color: #fff;margin-left: 10px;;width: 13%">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne1">
                用户管理                        </a>
        </div>
        <div id="collapseOne1" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/user/userlist">用户列表</a></li>
                    <li><a href="/user/volunteerverifylist">认证用户审核</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                组织管理                        </a>
        </div>
        <div id="collapseOne2" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/Admin/Organization/all">组织列表</a></li>
                    <li><a href="/user/orgverifylist">组织审核</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne3">
                项目管理                        </a>
        </div>
        <div id="collapseOne3" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/project/admin">项目列表</a></li>
                    <li><a href="/project/verify">项目审核</a></li>
                    <li><a href="/project/hotadmin">热点项目</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne4">
                证书管理                        </a>
        </div>
        <div id="collapseOne4" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/Admin/Certificate/carlist">证书列表</a></li>
                    <li><a href="/Admin/Certificate/Issued">证书颁发</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne5">
                征集项目管理                        </a>
        </div>
        <div id="collapseOne5" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/event/index">征集项目列表</a></li>
                    <li><a href="/event/create">征集项目添加</a></li>
                    <li><a href="/event/supportlist">征集项目赞助商</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne6">
                活动管理                        </a>
        </div>
        <div id="collapseOne6" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/active/admin">活动列表</a></li>
                    <li><a href="/active/verify">活动审核</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne7">
                专题管理                        </a>
        </div>
        <div id="collapseOne7" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/collection/index">专题列表</a></li>
                    <li><a href="/collection/create">专题创建</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne8">
                反馈管理                        </a>
        </div>
        <div id="collapseOne8" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/proposal/admin">反馈列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne9">
                Banner管理                        </a>
        </div>
        <div id="collapseOne9" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/banner/admin">Banner列表</a></li>
                    <li><a href="/banner/create">Banner添加</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne10">
                培训服务                        </a>
        </div>
        <div id="collapseOne10" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/Admin/course/">培训视频</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne11">
                客户端管理                        </a>
        </div>
        <div id="collapseOne11" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/mobile/bannerlist">Banner列表</a></li>
                    <li><a href="/mobile/bannercreate">Banner创建</a></li>
                    <li><a href="/mobile/versionlist">版本列表</a></li>
                    <li><a href="/mobile/versioncreate">发布新版本</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne12">
                权限设置                        </a>
        </div>
        <div id="collapseOne12" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/right/index">前台权限设置</a></li>
                    <li><a href="/adminright/index">后台权限设置</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne13">
                用户/用户组                        </a>
        </div>
        <div id="collapseOne13" class="accordion-body collapse">
            <div class="accordion-inner">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="/administrator/administratorlist">管理员管理</a></li>
                    <li><a href="/adminlog/admin">管理员日志</a></li>
                    <li><a href="/administrator/modify">资料修改</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
          <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne14">
                 互助管理                       </a>
          </div>
          <div id="collapseOne14" class="accordion-body collapse">
              <div class="accordion-inner">
                  <ul class="nav nav-tabs nav-stacked">
                      <li><a href="/Admin/Concur/concurcheck">互助审核</a></li>
                      <li><a href="/Admin/Concur/helplist">求助列表</a></li>
                      <li><a href="/Admin/Concur/resourcelist">资源列表</a></li>
                      <li><a href="/Admin/Concur/hotrecommend">热点推荐</a></li>
                  </ul>
              </div>
          </div>
      </div>
</div>
<script type="text/javascript"> 
        var local=window.location.href.toLowerCase(); 
        $("#accordion2 a").each(function(){
            var _href=$(this).attr('href').toLowerCase();
            if(_href!='') {  

                if (local.toLowerCase().indexOf(_href) > -1) { 
                    $(this).parent().addClass('active');
                    $(this).parent().parent().parent().parent().addClass(' in ');
                     return false;
                }
            }
        });
</script>
