<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="keywords" content="中青公益,益涓,志愿服务,公益" />
        <meta name="description" content="益涓" /> 
        <script src="{:STATIC_SERVER_URL}/public/js/jquery.js"></script>
        <!--[if lt IE 9]><script src="{:__STATIC_URL__}/public/js/html5.js"></script><![endif]--> 
        <link type="image/x-icon" rel="shortcut icon" href="{:__STATIC_URL__}/favicon.ico" /> 
        <link href="{:__STATIC_URL__}/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{:__STATIC_URL__}/bootstrap/js/bootstrap.min.js"></script>
        <title>专题管理</title>
    </head>
    <body>
        <div class="container">  
            <p class="bg-primary" style="padding:30px">后台管理系统</p>
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            Bannel图片管理
                        </a>
                        <a href="#" class="list-group-item">
                            幻灯片管理
                        </a>
                        <a href="#" class="list-group-item">
                            “青春伴夕阳”孝心微行动
                        </a>
                        <a href="#" class="list-group-item">
                            “心系老年”活动
                        </a>
                        <a href="#" class="list-group-item">
                            媒体报道
                        </a>
                        <a href="#" class="list-group-item">
                            “心系老年”孝心工程
                        </a>
                        <a href="#" class="list-group-item">
                            中间区域大图
                        </a>
                        <a href="#" class="list-group-item">
                            高校信息
                        </a>
                      </div>
                    
                </div>
                <div class="col-md-10">a {__CONTENT__}</div>
            </div>
        </div>
    </body>
</html>