<link rel="stylesheet" type="text/css" href="__STATIC_URL__/zqgym/css/home.css?s6">
<div class="zqgy_proj_cont">
    <a class="h3_title gybd">公益报道    </a>
    <div class="zqgy_bdlist">
        {~W('Article/item',array($data))}
    </div>
    <div class="zqgy_loading" style="display: none;text-align: center">
        <img src="__STATIC_URL__/zqgym/images/loading.gif">
    </div>
</div>
<input type="hidden" id="surl" value="/m/bao/all"/>
<script type="text/javascript">
$(function(){
    var _d_items=$('.bd_items');
    if(_d_items.length<20){
        $('.zqgy_loading').remove();
    }else{
        $('.zqgy_loading').show();
        $(window).bind('scroll',function(){
            winscroll();
        });
    }
});

var ajax_next=false;
/**
 * 下一页
 */
function next(){
    if(ajax_next){return false;}
    ajax_next=true;
    var url_param={};
    url_param['last_id']=$('.bd_items:last').data('id'); 
    $.ajax({
        url:$('#surl').val(),
        data:url_param,
        type:'post',
        success:function(d){
            if(d==''){
                $('.zqgy_loading').remove();
                $(window).unbind('scroll');
            }else{
                var new_item=$(d);
                if(new_item.length<20){
                    $('.zqgy_loading').remove();
                    $(window).unbind('scroll');
                }else{
                    ajax_next=false;
                }
                $('.zqgy_bdlist').append(d);
            }
        }
    });
}
function winscroll(){
    var $win=$(window);
    var top=parseInt($win.scrollTop());
    var winHeight=parseInt($win.height());
    var  bodyHeight=parseInt($('body').height());
    if( top+winHeight>bodyHeight-50  ){
        next();
    }
}
</script>