<h3 class="gy_col_title"><i>公益小组</i><a href="{:WEB_SITE}/t/group/findgroup">更多></a></h3>
<ul class="gy_col_xzu clearfix">
    <volist name="group" id="vo">
        <li>
            <a href="{:U('t/group/selgroup',array('id'=>$vo['gid']))}">
                <img class="lazy" data-original="{$vo.image}"></a>
            <div class="gy_xzu_info">
                <a href="{:U('t/subject/subinfo',array('id'=>$vo['id']))}">{$vo.title}</a>
                <p class="ifo_cont">{$vo.content}</p>
                <p class="ifo_other"><a href="{:userUrl($vo['lastuser'])}">{$vo.lastuserName}</a><span>{$vo.time}</span></p>
            </div>
        </li>
    </volist>
</ul>