<!--
1.收入获得证书的人员编号或身份证号
2.选择要颁发的证书
-->
<div class="row-fluid hero-unit">
    <form class="form-horizontal" method="post" action="/Admin/Certificate/examine">
    <div class="control-group">
        <label class="control-label" for="shenfz">请收入获得证书人员的身份证号：</label>
        <div class="controls">
            <textarea name="shenfz" style='margin: 0px; width: 379px; height: 109px;'></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="zhengshu">请选择要颁发的证书</label>
        <div class="controls">
            <select name="zhengshu"> 
                <volist name="certificate" id="vo">
                    <option value="{$vo['id']}">{$vo['name']}</option>
                </volist>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls"> 
            <button type="submit" class="btn">提交</button>
        </div>
    </div>
</form>

</div>