<div class="zqgy_login">
    <div class="zqgy_lguser_photo">
        <a href="/m/user"><img src="{$user->photo}"></a>
    </div>
    <div class="zqgy_user_name">
        <span>{$user->nickname}</span><img src="__STATIC_URL__/zqgym/images/icon_v.png">
    </div>
    <div class="zqgy_trbtns"><a href="/m/user/project">我的项目</a><a href="/m/user/active">我的活动</a></div>
    <div class="zqgy_lgnav">
        <ul>
            <li><a href="/m">首页</a></li>
            <li><a href="/m/project/all">招募项目</a></li>
            <li><a href="/m/active/all">公益活动</a></li>
            <li><a href="/m/user/loginout">退出登录</a></li>
        </ul>
    </div>
</div>