<ul class="Project_one fl">
    <li class="pjt_one_left">
        <a href="__YIJUAN_VISIT_URL__/project/alleventlist/id/{$event[0]['id']}.html">
            <img src="{$event[0]['show_image']}" />
        </a>
    </li>
    <li class="pjt_one_right">
                        <span class="Project_one_title">
                            <a href="__YIJUAN_VISIT_URL__/project/alleventlist/id/{$event[0]['id']}.html">{$event[0]['name']}</a>
                        </span>
        <span class="Project_one_date">发起方:{$event[0]['host']}<br/>{$event[0]['event_begin_time']}-{$event[0]['event_end_time']}</span>
        <span class="Project_one_state {$event[1]['statue']==-1? "projrct_end":"  " } ">{$event[0]['statue_text']}</span>
    </li>
</ul>
<ul class="Project_one fr">
    <li class="pjt_one_left"><a href="__YI_JUAN_SITE__/project/alleventlist/id/{$event[1]['id']}.html"><img src="{$event[1]['show_image']}"/></a></li>
    <li class="pjt_one_right">
        <span class="Project_one_title"><a href="__YI_JUAN_SITE__/project/alleventlist/id/{$event[1]['id']}.html">{$event[1]['name']}</a></span>
        <span class="Project_one_date">发起方:{$event[1]['host']}<br/>{$event[1]['event_begin_time']}-{$event[1]['event_end_time']}</span>
        <span class="Project_one_state {$event[1]['statue']==-1? "projrct_end":" " }">{$event[1]['statue_text']}</span>
    </li>
</ul>