<div class="for_help_items" id="IE8_fh_left" style="float:left">
    <ul>
        <volist name='goods' id='vo'  offset="0" length='6'>
            <li><a href="{$vo['url']}">{$vo['name']}</a><a href="{$vo['url']}" id="renjuan">认捐</a></li>
        </volist>
    </ul>
</div>
<div class="for_help_items" id="IE8_fh_right" style="float:right">
    <ul>
        <volist name='goods' id='vo'  offset="6" length='6'>
            <li><a href="{$vo['url']}">{$vo['name']}</a><a href="{$vo['url']}" id="renjuan">认捐</a></li>
        </volist>
    </ul>
</div>