<ul class="volunteer_content">
    <volist name="project" id="vo">
        <li <if condition="$i eq 4"> style="margin-right:0px" </if> >
                                    <span class="Project_img">
                                        <a href="{$vo['url']}"><img width='177' height='124' src="{$vo['show_image']}" /></a> 
                                    </span>
            <span class="Vtitle_text"><a href="{$vo['url']}">{$vo['name']}</a></span>
            <span class="count_num"><span class="s_bule">{$vo['needcount']}</span><br /> 总招募</span>
            <span class="count_num"><span class="s_yellow">{$vo['usercount']}</span><br /> 已招募</span>
            <span class="baoming"><a href="{$vo['url']}">报名</a></span>
        </li>
    </volist>
</ul>