<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中青公益(MB-清华培训)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes">
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" type="text/css" href="{:STATIC_SERVER_URL}/tsinghua/css/base.css">
	<link rel="stylesheet" type="text/css" href="{:STATIC_SERVER_URL}/tsinghua/css/mb_index.css?1">
</head>
<body>
	<div id="Container">
		<a href="http://www.gy.com" class="mb_logo"></a>
		<div class="mb_widget1"><img src="{:STATIC_SERVER_URL}/tsinghua/images/mb_index1.png"></div>
		<div class="mb_widget2">
			<img src="{:STATIC_SERVER_URL}/tsinghua/images/mb_index2.png">
			<a href="http://thtm.tsinghua.edu.cn">http://thtm.tsinghua.edu.cn。</a>
		</div>
		<div class="mb_widget3"><img src="{:STATIC_SERVER_URL}/tsinghua/images/mb_index3.png"><a href="{:STATIC_SERVER_URL}/tsinghua/uii/download.xls" class="pc_download">下载报名表格</a></div>
	</div>
</body>
</html>