<!-- 公益互助 -->
<h3 class="gy_col_title"><i>公益互助</i><a href="#">更多></a></h3>
<div class="clearfix">
    <div class="gy_col_hzhu hz_lt">
    <h3>求助<a href="#">更多></a></h3>
    <div class="gy_hz_cont">
        <!-- 一个项目[ -->
        <div class="gy_hz_list def">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
    </div>
</div>
<div class="gy_col_hzhu hz_rt">
    <h3>捐助<a href="#">更多></a></h3>
    <div class="gy_hz_cont">
        <!-- 一个项目[ -->
        <div class="gy_hz_list def">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
        <!-- 一个项目[ -->
        <div class="gy_hz_list">
            <p>中国矿业大学梦启支教团在四川广元市青川县木鱼中学</p>
            <div class="gy_hz_detail">
                <img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg">
                <div class="gy_hud_info">
                    <a href="#">中国矿业大学梦启支教团在四川广元市青川县木鱼中学</a>
                    <p class="hz_form">北京红太阳公益基金</p>
                    <p class="hz_addr">北京 东城</p>
                </div>
            </div>
        </div><!-- ]一个项目 -->
    </div>
</div>
</div>