<!-- 侧边栏[ -->
<div class="gy_sidebar">
    <!-- 返回顶部[ -->
    <div class="gy_backtop"></div><!-- ]返回顶部 -->
    <!-- 微信[ -->
    <div class="gy_weixin">
        <div class="gy_wx_ewm">
            <div class="gy_wxem ewm_lt">
                <span>中青公益<i>订阅号</i></span>
                <div><img src="{:STATIC_SERVER_URL}/gongyi/images/demo_ewm.png"></div>
            </div>
            <div class="gy_wxem ewm_rt">
                <span>中青公益<i>订阅号</i></span>
                <div><img src="{:STATIC_SERVER_URL}/gongyi/images/demo_ewm.png"></div>
            </div>
        </div>
    </div><!-- ]微信 -->
    <!-- 微博[ -->
    <div class="gy_weibo">
        <div class="gy_wb_ewm">
            <span>中青公益</span>
            <div><img src="{:STATIC_SERVER_URL}/gongyi/images/demo_ewm.png"></div>
        </div>
    </div><!-- ]微博 -->
    <!-- 意见反馈[ -->
    <div class="gy_yjfkui" data-id="0">
        <div class="gy_yjfk">
            <h3>意见反馈<span class="gy_close"></span></h3>
            <div>
                <div class="gy_placeholder">
                    <span>使用不方便？想要的功能or内容找不到？</span>
                    <span>哪里不爽说哪里！我们虚心接受各种意见和吐槽！</span>
                </div>
                <form action="#" id="yjfk_form">
                    <textarea name="gy_yjfk" class="gy_yjfk"></textarea>
                    <p class="gy_error"><span class="msg-box n-right" for="gy_yjfk"></span></p>
                    <p class="gy_tips">图片支持jpg、jpeg和png格式，大小不超过1M</p>
                    <div class="gy_upload">
                        <span><img src="{:STATIC_SERVER_URL}/gongyi/images/1.jpg"></span>
                        <span><img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg"></span>
                        <span><img src="{:STATIC_SERVER_URL}/gongyi/images/3.jpg"></span>
                        <span><img src="{:STATIC_SERVER_URL}/gongyi/images/1.jpg"></span>
                        <span><img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg"></span>
                        <a href="#"></a>
                    </div>
                    <p class="gy_emalorphone"><input type="text" name="gy_emailorphone" placeholder="联系邮箱/手机"></p>
                    <p class="gy_error"><span class="msg-box n-right" for="gy_emailorphone"></span></p>
                    <p class="gy_yanzhengma">
                        <input type="text" name="gy_yanzhengma" placeholder="验证码">
                        <span><img src="{:STATIC_SERVER_URL}/gongyi/images/demo.png"></span>
                        <a href="#">换一张</a>
                    </p>
                    <p class="gy_error"><span class="msg-box n-right" for="gy_yanzhengma"></span></p>
                    <div class="gy_fmbtns"><button class="gy_fmb1">提交</button><span class="gy_fmb2">取消</span></div>
                </form>
            </div>
        </div>
    </div><!-- 意见反馈 -->
</div><!-- ]侧边栏 -->