<!-- 用户信息及各样操作 -->
<!-- gy_col1_rt-top[ -->
<div class="gy_c1rt_top">
    <a href="{:JIA_SERVER_URL}"></a>
</div><!-- ]gy_col1_rt-top -->
<!-- gy_col1_rt-center[ -->
<div class="gy_c1rt_center">
    <!-- 未登录状态[ -->
    <div class="gy_c1rtc_info">
        <div class="gy_c1ifo_lt"><img src="{:STATIC_SERVER_URL}/gongyi/images/gy_lg_false.png"></div>
        <div class="gy_c1ifo_rt">
            <!-- 未登录 -->
            <div class="gy_lg_fs">
                <p class="gy_c1ifo_tips">Hi~欢迎登录中青公益!</p>
                <p class="gy_c1ifo_btns"><a href="#">登录</a><a href="#">注册</a></p>
            </div>
        </div>
    </div><!-- ]未登录状态 -->
</div><!-- ]gy_col1_rt-center -->
<!-- gy_col1_rt-bottom[ -->
<div class="gy_c1rt_bottom">
    <a href="#" class="gy_c1rtb_lt"><i>招募志愿者</i></a>
    <div class="gy_c1rtb_rt">
        <a href="#" class="gy_menus1"><i>公益活动</i></a>
        <a href="#" class="gy_menus2"><i>小组话题</i></a>
        <a href="#" class="gy_menus3"><i>求助中心</i></a>
        <a href="#" class="gy_menus4"><i>爱心资源</i></a>
        <a href="#" class="gy_menus5"><i>志愿者</i></a>
        <a href="#" class="gy_menus6"><i>公益组织</i></a>
        <a href="#" class="gy_menus7"><i>公益征集</i></a>
        <a href="#" class="gy_menus8"><i>视频培训</i></a>
    </div>
</div><!-- ]gy_col1_rt-bottom -->