<!-- wwc_slider[ -->
<div id="slides">
<!--    <volist name="data" id="vo">
        <if condition="$vo['url']">
            <a href="{$vo['url']}" target="_blank"><img width="760" height='400' src="{$vo['image']}"/><span class="banner_info">{$vo['title']}</span></a>
        </if>
    </volist>-->
    <a href="#"><img src="{:STATIC_SERVER_URL}/gongyi/images/1.jpg"><span class="banner_info">第一</span></a>
    <a href="#"><img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg"><span class="banner_info">第二</span></a>
    <a href="#"><img src="{:STATIC_SERVER_URL}/gongyi/images/3.jpg"><span class="banner_info">第三</span></a>
</div><!-- ]wwc_slider -->