<h3 class="gy_col_title"><i>公益小组</i><a href="#">更多></a></h3>
<ul class="gy_col_xzu clearfix">
    <li>
        <a href="#"><img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg"></a>
        <div class="gy_xzu_info">
            <a href="#">这个事项目标题这个事项目标</a>
            <p class="ifo_cont">
                青川，一个地处四川山区的县城；木鱼，一个经受汶川地震考验的小镇。就在样的一个饱受磨难的地方，有一群有着播音梦想的孩子。7月20日，中国矿业大学梦启支教团在四川广元市青川县木鱼中学举办青川，一个地处四川山区的县城；木鱼，一个经受汶川地震考验的小镇。就在样的一个饱受磨难的地方，有一群有着播音梦想的孩子。7月20日，中国矿业大学梦启支教团在四川广元市青川县木鱼中学举办
            </p>
            <p class="ifo_other"><a href="#">内心包袱</a><span>30秒前</span></p>
        </div>
    </li>
    <li>
        <a href="#"><img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg"></a>
        <div class="gy_xzu_info">
            <a href="#">这个事项目标题这个事项目标</a>
            <p class="ifo_cont">
                青川，一个地处四川山区的县城；木鱼，一个经受汶川地震考验的小镇。就在样的一个饱受磨难的地方，有一群有着播音梦想的孩子。7月20日，中国矿业大学梦启支教团在四川广元市青川县木鱼中学举办青川，一个地处四川山区的县城；木鱼，一个经受汶川地震考验的小镇。就在样的一个饱受磨难的地方，有一群有着播音梦想的孩子。7月20日，中国矿业大学梦启支教团在四川广元市青川县木鱼中学举办
            </p>
            <p class="ifo_other"><a href="#">内心包袱</a><span>30秒前</span></p>
        </div>
    </li>
    <li>
        <a href="#"><img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg"></a>
        <div class="gy_xzu_info">
            <a href="#">这个事项目标题这个事项目标</a>
            <p class="ifo_cont">
                青川，一个地处四川山区的县城；木鱼，一个经受汶川地震考验的小镇。就在样的一个饱受磨难的地方，有一群有着播音梦想的孩子。7月20日，中国矿业大学梦启支教团在四川广元市青川县木鱼中学举办青川，一个地处四川山区的县城；木鱼，一个经受汶川地震考验的小镇。就在样的一个饱受磨难的地方，有一群有着播音梦想的孩子。7月20日，中国矿业大学梦启支教团在四川广元市青川县木鱼中学举办
            </p>
            <p class="ifo_other"><a href="#">内心包袱</a><span>30秒前</span></p>
        </div>
    </li>
    <li>
        <a href="#"><img src="{:STATIC_SERVER_URL}/gongyi/images/2.jpg"></a>
        <div class="gy_xzu_info">
            <a href="#">这个事项目标题这个事项目标</a>
            <p class="ifo_cont">
                青川，一个地处四川山区的县城；木鱼，一个经受汶川地震考验的小镇。就在样的一个饱受磨难的地方，有一群有着播音梦想的孩子。7月20日，中国矿业大学梦启支教团在四川广元市青川县木鱼中学举办青川，一个地处四川山区的县城；木鱼，一个经受汶川地震考验的小镇。就在样的一个饱受磨难的地方，有一群有着播音梦想的孩子。7月20日，中国矿业大学梦启支教团在四川广元市青川县木鱼中学举办
            </p>
            <p class="ifo_other"><a href="#">内心包袱</a><span>30秒前</span></p>
        </div>
    </li>
</ul>