
	<script type="text/javascript">
		$(function(){
			//nav悬浮效果
			$(".gy_nwc_lt>li").not("li.cur").hover(function(){$(this).addClass("cur");},function(){$(this).removeClass("cur");});
			//搜索
			$(".gy_seach_type").hover(function(){$(this).find("ul").toggleClass("gy_menu");});
			//返回顶部
			$(".gy_backtop").click(function(){  
                $('body,html').animate({scrollTop:0},500);  
                return false;  
            });
            //封装组织实践冒泡的方法
		   	function stopPropagation(e){
		      e=window.event || e;
		      if(document.all){
		        e.cancelBubble = true;
		      }else{
		        e.stopPropagation();
		      }
		   	}
            //显示子菜单
            $(".gy_sidebar>div").not("div.gy_backtop").on("click",function(e){
            	$(this).children("div").show().end().siblings("div").children("div").hide();
            	stopPropagation(e);
            });
            $("i.gy_close").on("click",function(e){
            	stopPropagation(e);
            	$(this).parent("div").hide();
            });
            $(".gy_fmb2").on("click",function(e){
            	stopPropagation(e);
            	$(this).parents("div.gy_yjfk").hide();
            });
            $(document).click(function(){
            	$(".gy_sidebar>div").children("div:visible").hide();
            });
            //取消上传的意见反馈图片
            $(".gy_upload_img").find("i").on("live",function(){
            	$(this).parent("span").remove();
            });
            //去掉边距
			removeMar($(".gy_users li"),4);
			//tab切换
			var a=$(".gy_sc_tabs"),b=a.find("span.cur"),c=$(".gy_sc_wraper"),e=c.find("ul");
			e.eq(b.index()).show();
			a.find("span").on("click",function(){
				var t = $(this);
				t.addClass("cur").siblings("span").removeClass("cur");
				e.eq(t.index()).show().siblings("ul").hide();
			});
			var curren = {$page};
			$(".wraper_paging").find("a").each(function(){
				if($(this).text()==curren){
					$(this).addClass().addClass("selected").siblings("a").removeClass("selected");
				}
			});
		})
		function removeMar(m,n){for(var i=n;i<m.length;i++){m.eq(i).css("margin-right","0px");i+=n;}}
	</script>
</head>
<body>
	<!-- 内容区 -->
	<div class="gy_search_container">
		<div class="gy_cr_search">
			<if condition="$key">
				<input id="key" type="text" name="search" value="{$key}" onkeydown="tab()">
			<else/>
				<input id="key" type="text" name="search" placeholder="看看中青公益有什么" onkeydown="tab()">			
			</if>
			<button id="click" onclick="searchs()">搜索</button>
		</div>
		<div class="gy_sc_result">
			<if condition="$key">
				<div class="gy_sc_tabs">
					<a href="{:SERVER_VISIT_URL}/T/search/search/key/{$key}" >招募</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_act/key/{$key}" >活动</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_help/key/{$key}" >求助</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_res/key/{$key}" >资源</a>
					<a href="#" class="cur">小组</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_sub/key/{$key}" >话题</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_user/key/{$key}">用户</a>
				</div>
			<else/>
				<div class="gy_sc_tabs">
					<a href="{:SERVER_VISIT_URL}/T/search/search" >招募</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_act" >活动</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_help" >求助</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_res" >资源</a>
					<a href="#" class="cur">小组</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_sub" >话题</a>
					<a href="{:SERVER_VISIT_URL}/T/search/sea_user">用户</a>
				</div>
			</if>
			<div class="gy_sc_wraper">
				<if condition="$group">
				<ul class="gy_sc_items gy_group">
					<volist name="group" id="item">
					<li>
						<div class="gy_items_left">
							<a href="http://www.719kj.com/t/group/selgroup/id/{$item.id}.html" class="gy_il_picture"><img src="{$item.image}"></a>
							<div class="gy_il_name"><a href="http://www.719kj.com/t/group/selgroup/id/{$item.id}.html" title="{$item.name}">{$item.t_name}</a></div>
						</div>
						<div class="gy_items_center">
							<div class="gy_items_clt"><label>组长：</label><a href="http://www.719kj.com/uc/{$item.creator}">{$item.creat}</a></div>
							<div class="gy_items_crt"><a class="member" href="http://www.719kj.com/T/Group/userSupervise/id/{$item.id}.html">{$item.member}名成员</a><a  class="topic" href="http://www.719kj.com/t/group/selgroup/id/{$item.id}.html">{$item.count}个话题</a></div>
						</div>
					</li>
					</volist>
				</ul><!-- ]小组 -->
				<!-- 分页 -->
					<div class="wraper_paging">
						{$str}
					</div>
				<else/>
					<div class="none_msg">该条件下暂无相关内容</div>	
				</if>
			</div>
		</div>
	</div>
</body>
<script>
function tab(){
    if(event.keyCode ==13){
         document.getElementById("click").click();
    }
}
function searchs(){
    var key=document.getElementById('key').value;
    location.href="{:SERVER_VISIT_URL}/T/search/search/key/"+key;
}

</script>