<div class="header">
    <div class="wrap2">

        <div class="wraper_top">
            <div class="top_bar">
                
                    <div class="top_bar_right">
                    <eq name="isLogin" value="1">
                    <div class="top_users_wraper">
                        <a href="{:userUrl($user['uid'])}">{$user.nickname}<i class="icon_arrow_down"></i></a>
                        <ul class="users_menus_bottom">
                            <li><a href="{$edit}" class="edit_data">编辑资料</a></li>
                            <li><a href="{$logout}">退出登录</a></li>
                        </ul>
                    </div>
                    <nav class="top_nav_wraper">
                        <ul>
                            <li><a href="{$privateLetter}">私信<gt name="messageboxNum" value="0"><span class="col_span">[{$messageboxNum}]</span></gt></a></li>
                            <li><a href="{$notice}">通知<gt name="noticeNum" value="0"><span class="col_span">[{$noticeNum}]</span></gt></a></li>
                            <li><a href="{:SERVER_VISIT_URL}">中青公益</a></li>
                        </ul>
                    </nav>                
                    <else/>
                    <nav class="top_nav_wraper">
                        <ul>
                            <li><a href="{$login}">登录</a></li>
                            <li><a href="{$register}">注册</a></li>
                            <li><a href="{:SERVER_VISIT_URL}">中青公益</a></li>
                        </ul>
                    </nav> 
                    </eq>
                        
                        
                    </div>
            </div>
        </div> 
		
	
	
        <div class="logo_loginbar">
            <div class="zqgongyi_logo"><a href="{:SERVER_VISIT_URL}"><img src="{:STATIC_SERVER_URL}/gongyi/images/zhongqing_logo.png"/></a></div>
            <div class="banner_text"><img src="{:STATIC_SERVER_URL}/gongyi/images/banner_text.png"/></div>
        </div>
        <div class="nav">
            <div class="main_nav">
                <ul class="navbar clearfix">
                    <li class="li_items"><a href="/"/>首页</a></li>
                    <li class="li_items"><a href="{:SERVER_VISIT_URL}/project/all.html"/>招募</a></li>
                    <li class="li_items"><a href="{:SERVER_VISIT_URL}/active/all.html"/>活动</a></li>
                    <li class="li_items"><a href="{:SERVER_VISIT_URL}/raisegoods/all.html"/>求助</a></li>
                    <li class="li_items"><a href="{:SERVER_VISIT_URL}/project/alleventlist.html"/>征集</a></li>
                    <li class="li_items">
                        <a href="javascript:void(0)"/>资讯</a>&nbsp;<img src="{:STATIC_SERVER_URL}/gongyi/images/nav_ico.png"/>
                        <ul class="sub" style="display:none;">
                            <li><a href="http://www.gy.com/gong_yi_bao_dao.html" title="公益报道">公益报道</a></li>
                            <li><a href="http://www.gy.com/gong_yi_yu_qing.html" title="公益舆情">公益舆情</a></li>
                        </ul>
                    </li>
                    <li class="li_items">
                        <a href="javascript:void(0)"/>互动</a>&nbsp;<img src="{:STATIC_SERVER_URL}/gongyi/images/nav_ico.png"/>
                        <ul class="sub"  style="display:none;">
                            <li><a href="{:UCENTER}" title="个人主页">个人主页</a></li>	
                            <li><a href="{:SERVER_VISIT_URL}/authuser/all.html" title="公益伙伴">公益伙伴</a></li>	
                            <li><a href="{:SERVER_VISIT_URL}/t/video/" title="益视频">益视频</a></li>
                            <li><a href="{:SERVER_VISIT_URL}/t/group/usergroup" title="公益小组">公益小组</a></li>
                        </ul>
                    </li>
                    <li class="li_items"><a href="{:JIA_SERVER_URL}"/>志愿+</a></li>
                </ul>		
            </div>
        </div>
    </div>
</div>  