<!-- footer[ -->
<div class="zqgy_footer">
    <div class="zqgy_ftcont">
        <div class="zqgy_ftcont_top">
            <dl>
                <dt>主管单位</dt>
                <dd><a>中国青年报社</a></dd>
            </dl>
            <dl>
                <dt>主办单位</dt>
                <dd>中青华云</dd>
            </dl>
            <dl>
                <dt>合作伙伴</dt>
                <dd><a target=" _blank" href="http://www.most.gov.cn/">科技部</a></dd>
                <dd><a target=" _blank" href="http://www.moe.gov.cn/">教育部</a></dd>
                <dd><a target=" _blank" href="http://www.ccyl.org.cn">共青团中央</a></dd>
                <dd><a target=" _blank" href="http://www.xjtu.edu.cn/">西安交通大学</a></dd>
            </dl>
            <dl>
                <dt>友情链接</dt>
                <dd><a href="http://www.cyol.com/"  target=" _blank">中青在线</a></dd>
                <dd><a href="http://www.xiaomei.cc"  target=" _blank">校媒网</a></dd>
                <dd><a href="http://www.kab.org.cn"  target=" _blank">KAB创业教育网</a></dd>
                <dd><a href="http://www.zgzyz.org.cn/"  target=" _blank">中国青年志愿者网</a></dd>
		<dd><a href="http://www.cvf.org.cn/"  target=" _blank">中国志愿服务联合会</a></dd>
                <dd><a href="http://www.17xs.org/"  target=" _blank">善园基金会</a></dd>
            </dl>
            <div>
                <p>北京市东城区海运仓2号<span>010-64098678</span></p>
                <p>公益合作：zqgy@gy.com </p>
                <p>媒体合作：zqgymedia@gy.com</p>
                <p class="btns"><a href="#">关于我们</a><a href="#">使用帮助</a></p>
            </div>
        </div>
        <div class="zqgy_ftcont_bom">Copyright © 2012 - 2016 gy.com All Right Reserved   京ICP备13034192号</div>
    </div>
</div><!-- ]footer -->