<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: "Microsoft YaHei";
        background: #f9f9f9;
    }

    li {
        list-style: none;
    }

    .job-container {
        width: 970px;
        margin: 20px auto;
        padding: 0 20px;
        background: #fff;
    }

    .job-survey, .job-duty, .job-demand {
        border-bottom: 1px dashed #999;
        padding: 20px 0;
    }

    .job-survey h3 {
        font-size: 16px;
        color: #333;
    }

    .job-survey ul:after {
        display: block;
        content: "";
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .job-survey ul li {
        float: left;
        width: 310px;
        padding-top: 15px;
        color: #666;
        font-size: 14px;
    }

    .job-duty h3, .job-demand h3, .job-duty p, .job-demand p {
        color: #666;
        font-size: 14px;
    }

    .job-duty p, .job-demand p {
        margin: 15px 0;
    }

    .job-demand {
        border-bottom: none;
    }
</style>
<div class="job-container">
    <div class="job-survey">
        <h3>UI设计师</h3>
        <ul>
            <li><label>所属部门：</label>中青公益</li>
            <li><label>工作地点：</label>北京</li>
            <li><label>招聘人数：</label>1人</li>
            <li><label>公司：</label>北京中青华云新媒体科技有限公司</li>
            <li><label>职位类别：</label>UI/设计</li>
            <li><label>发布时间：</label>2016-08-01</li>
        </ul>
    </div>
    <div class="job-duty">
        <h3>工作职责：</h3>
        <p>1、负责公司产品和活动专题的设计 ；</p>
        <p>2、移动端产品、PC网页端的界面设计及宣传类平面设计；</p>
        <p>3、依据产品定义，确认界面风格和设计方向；</p>
        <p>4、对产品的可用性进行评估，对用户体验优化提供方案；</p>
        <p>5、对项目的所有图档进行分类归档，并制定相应的视觉规范。</p>
        <p>6、根据产品需求，对产品的整体美术风格、交互设计、界面结构、操作流程等做出设计；</p>
        <p>7、负责项目中各种交互界面、图标、LOGO、按钮等相关元素的设计与制作；</p>
    </div>
    <div class="job-demand">
        <h3>工作要求：</h3>
        <p>1、具备1-2年设计经验； </p>
        <p>2、热衷于页面设计，并对其界面、人机交互、可用性方面有独特见解； </p>
        <p>3、有深厚的美术功底及优秀的设计和创意能力；</p>
        <p>4、拥有丰富的设计理论知识，精通Photoshop/illustrator等各类设计软件；</p>
        <p>5、认真细致，对视觉设计、色彩有敏锐的观察力及分析能力；</p>
        <p>6、工作细致，善于沟通，有很好的团队合作精神，能承受高压工作，责任心强。；</p>
        <p>7、简历请附上你自己满意的作品。</p>
    </div>
    <div class="job-demand">
        <h3>简历投递：</h3>
        <p>zhangzg@cyyun.com</p>
    </div>
</div>