<div class="welfare_content">
    <div class="gongyi_news">
        <p class="reports_title"><img src="{:STATIC_SERVER_URL}/gongyi/images/gongyidaodao.png"/>&nbsp;<a href="http://www.gy.com/gong_yi_bao_dao.html">公益报道</a></p>
        <volist name="baodao" id="vo"> 
            <dl class="information_one">
                <dt><img src="{:STATIC_SERVER_URL}/gongyi/images/duobianxing.png"/><a href="http://www.gy.com/news/{$vo['id']}.html"><strong>{$vo['title']}</strong></a></dt>
                <dd>{$vo['summary']}</dd>
            </dl>
        </volist> 


    </div>

    <div class="gongyi_news">
        <p class="reports_title"><img src="{:STATIC_SERVER_URL}/gongyi/images/gongyiyuqing.png"/>&nbsp;<a href="http://www.gy.com/gong_yi_yu_qing.html">公益舆情</a></p>
        <volist name="yuqing" id="vo">
            <dl class="information_one">
                <dt>
                <img src="{:STATIC_SERVER_URL}/gongyi/images/duobianxing.png"/>
                <a href="http://www.gy.com/news/{$vo['id']}.html"><strong>{$vo['title']}</strong></a>
                </dt>
                <dd>{$vo['summary']}</dd>
            </dl>
        </volist>
    </div>
</div>