
<link rel="stylesheet" type="text/css" href="__STATIC_URL__/zqgym/css/home.css?6">
<!-- 用户信息[ -->
{~W('User/card')}<!-- ]用户信息 -->
<!-- 项目内容[ -->
<div class="zqgy_proj_cont">
    <!-- 我的项目 -->
    <a class="h3_title proj" href="{:U('User/project')}">我的项目<span><img src="__STATIC_URL__/zqgym/images/icon_arrow.png"></span></a>
    <div class="zqgy_cont_list">{~W('User/project')}</div>
    <!-- 我的活动 -->
    <a class="h3_title activ" href="{:U('User/active')}">我的活动<span><img src="__STATIC_URL__/zqgym/images/icon_arrow.png"></span></a>
    <div class="zqgy_cont_list">{~W('User/active')}</div>
</div><!-- ]项目内容 -->
