<div class="alert alert-success  ">
    <form class="form-inline">
        <div class="row">
            <div class="span2">
                <input class="input-medium" value="{:I('uid')}" type="text" name="uid" placeholder="用户编号"/>
            </div>
            <div class="span2">
                <input class="input-medium" value="{:I('nickname')}" type="text" name="nickname" placeholder="昵称"/>
            </div>
            <div class="span2">
                <input class="input-medium" value="{:I('real_name')}" type="text" name="real_name" placeholder="真实姓名"/>
            </div>
            <div class="span2">
                <input class="input-medium" value="{:I('phone')}" type="text" name="phone" placeholder="手机号"/>
            </div>
            <div class="span2"><input class="input-medium" value="{:I('idcard_code')}" type="text" name="idcard_code"
                                      placeholder="身份证号码"/></div>
        </div>
        <div>
            <div class="row">
                <div class="span2">
                    <select name="type" id="type" class="span2">
                        <option value="">--用户类型类型--</option>
                        <option value="10">认证用户</option>
                        <option value="11">普通用户</option>
                        <option value="-1">注销用户</option>
                    </select>
                </div>
                <div class="span2">
                    <select name="gender" id="gender" class="span2">
                        <option value="">--性别--</option>
                        <option value="1">男</option>
                        <option value="0">女</option>
                    </select>
                </div>
                <div class="span2">
                    <select name="provinceid" id="provinceid" class="city span2">
                        <option value="">--省份--</option>
                        <volist name="province" id="vo">
                            <option value="{$vo['id']}">{$vo['class_name']}</option>
                        </volist>
                    </select>
                </div>
                <div class="span2">
                    <select name="cityid" id="cityid" class="city span2">
                        <option value="">--市区--</option>
                        <volist name="city" id="vo">
                            <option value="{$vo['id']}">{$vo['class_name']}</option>
                        </volist>
                    </select>
                </div>
                <div class="span2">
                    <select name="countyid" id="countyid" class="span2">
                        <option value="">--县区--</option>
                        <volist name="county" id="vo">
                            <option value="{$vo['id']}">{$vo['class_name']}</option>
                        </volist>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <label><input type="checkbox" name="iscard" id="iscard" value="1"/>有身份证号码</label>
            <label><input type="checkbox" name="isphone" id="isphone" value="1"/>有手机号码</label>
        </div>
        <div>
            <input type="hidden" name="p" value="1"/>
            关注领域：
            <volist name="server" id="vo">
                <label>
                    <input class="severtag" type="checkbox" name="tags[]" value="{$key}"/>{$vo}
                </label>
            </volist>
        </div>
        <input type="submit" value="搜索"/>
    </form>
    <input type="hidden" name="h_tags" value="{:join(',',I('tags'))}" id="h_tags"/>
</div>
<input type="hidden" id="h_iscard" value="{:I('iscard')}"/>
<input type="hidden" id="h_isphone" value="{:I('isphone')}"/>
<script type="text/javascript">
    (function () {
        $('#type').val({:I('type')});
        $('#gender').val({:I('gender')}) ;
        $('#provinceid').val({:I('provinceid')});
        $('#cityid').val({:I('cityid')});
        $('#countyid').val({:I('countyid')});
        var _iscard = $("#h_iscard").val();
        var _isphone = $("#h_isphone").val();
        if (_iscard == 1) {
            $("#iscard").attr("checked", "checked");
        }
        if (_isphone == 1) {
            $("#isphone").attr("checked", "checked");
        }
        var _tag=$("#h_tags").val();
        if(_tag!=""){
            var _tags=_tag.split(",");
            for(var i=0;i<_tags.length;i++){
                var v=_tags[i];
                $(".severtag[value="+v+"]").attr("checked","checked");
            }
        }
        $('.city').on("change", function () {
            var that = $(this);
            var id = that.val();
            that.parent().next().find("select").html('<option value="0">--请选择--</option>');
            that.parent().next().next().find('select').html('<option value="0">--请选择--</option>');
            if (id == 0) {
                return;
            }
            $.ajax({
                url: "/admin/city/getChildrenCity",
                data: {id: id},
                dataType: "json",
                success: function (data) {
                    var p = ['<option value="0">--请选择--</option>'];
                    for (var n  in data) {
                        p.push('<option value="' + n + '">' + data[n] + '</option>');
                    }
                    that.parent().next().find("select").html(p.join(''));
                    that.parent().next().next().find('select').html('<option value="0">--请选择--</option>');
                }
            });
        });
    })();
</script>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <th style="width: 100px">用户ID</th>
        <th style="width: 200px">用户昵称</th>
        <th style="width: 150px">真实姓名</th>
        <th style="width: 180px">用户性别</th>
        <th style="width: 100px">用户邮箱</th>
        <th style="width: 100px">用户QQ</th>
        <th style="width: 120px">用户手机</th>
        <th style="width: 60px">身份证号码</th>
        <th style="width: 60px">用户类型</th>
        <th style="width: 100px">用户状态</th>
        <th style="width: 100px">认证状态</th>
        <th style="width: 100px">注册时间</th>
        <th style="width: 100px">操作</th>
    </tr>
    <volist name='data' id='vo'>
        <tr>
            <td>
                {$vo['uid']}
            </td>
            <td>
                {$vo['nickname']}
            </td>
            <td>
                {$vo['real_name']}
            </td>
            <td>
                {$vo['gender']==1?"男":($vo['gender']==0?"女":"未知" )}
            </td>
            <td>
                {$vo['email']}
            </td>
            <td>
                {$vo['qq']}
            </td>
            <td>
                {$vo['phone']}
            </td>
            <td>
            {$vo['idcard_code']}
        </td>
            <td>
                {$vo['type']==1?'认证用户':"普通用户"}
            </td>
            <td>
                {$vo['status']==-1?"已注销":($vo['status']==1?"邮箱已验证":"邮箱未验证")}
            </td>
            <td>
                {$vo['volunteer_status']}
            </td>
            <td>
                {$vo['create_date']}
            </td>
            <td>
                <a href="javascript:void(0)">注销</a>
            </td>
        </tr>
    </volist>
</table>
{$pageHtml}
<style>
    td {
        word-wrap: break-word;
        word-break: break-all
    }
</style>